---
import StatCard from "@components/StatCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="home">
  <!-- Concept -->
  <section class="mx-auto max-w-7xl">
    <h1 class="">
      Bienvenido a <span class="text-primary">Training Hub</span> 游뗿
    </h1>
    <p>
      donde podr치s ver tu progreso de tus entrenamientos a diario 游땕游녧 <br /> Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, magnam! Libero
      et ratione doloribus facilis alias nulla accusamus, laudantium ipsa sunt saepe
      eum dignissimos necessitatibus, deleniti, impedit id reiciendis quaerat.
    </p>
  </section>

  <!-- Cards -->
  <section class="mx-auto mt-14 max-w-7xl">
    <h2>Datos importantes 游때游녨:</h2>
    <div class="flex w-full flex-wrap justify-center gap-5 md:flex-nowrap">
      <StatCard id="week-count" label="entrenamientos esta semana" />
      <StatCard
        id="minutes-count"
        label="minutos entrenados en el 칰ltimo entrenamiento"
      />
      <StatCard id="training" label="칰ltimo entrenamiento" />
    </div>
  </section>

  <!-- Form -->
  <section class="mx-auto mt-14 max-w-7xl">
    <h2>Ingrese su nuevo entrenamiento! 游땕游뗿</h2>

    <form id="training-form" class="mx-auto">
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="group relative z-0 mb-5 w-full">
          <input
            type="text"
            name="type-training"
            id="type-training"
            class="text-heading border-surface-dark-medium focus:border-brand peer block w-full appearance-none border-0 border-b-2 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="type-training"
            class="peer-focus:text-fg-brand absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
            >Tipo de entrenamiento</label
          >
        </div>
        <div class="group relative z-0 mb-5 w-full">
          <input
            type="number"
            name="duration"
            id="duration"
            class="text-heading border-surface-dark-medium focus:border-brand peer block w-full appearance-none border-0 border-b-2 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="duration"
            class="peer-focus:text-fg-brand absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
            >Duraci칩n, en minutos</label
          >
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="group relative z-0 mb-5 w-full">
          <input
            type="number"
            min="1"
            max="5"
            name="intensity"
            id="intensity"
            class="text-heading border-surface-dark-medium focus:border-brand peer block w-full appearance-none border-0 border-b-2 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="intensity"
            class="peer-focus:text-fg-brand absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
            >Intensidad del entrenamiento (1-5)</label
          >
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </section>

  <!-- Lista de los 칰ltimos entrenamientos -->
  <section class="mx-auto mt-14 max-w-7xl">
    <h2>Lista de sus 칰ltimos entrenamientos 游때游녧</h2>

    <div
      class="bg-secondary border-surface-dark relative h-90 overflow-x-auto rounded-xl border shadow-xs"
    >
      <table class="w-full text-left text-sm rtl:text-right">
        <thead
          class="bg-accent rounded-base border-surface-dark border-b text-sm"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-base font-medium">
              Entrenamiento
            </th>
            <th scope="col" class="px-6 py-3 text-base font-medium"> Fecha </th>
            <th scope="col" class="px-6 py-3 text-base font-medium">
              Duraci칩n
            </th>
            <th scope="col" class="px-6 py-3 text-base font-medium">
              Intensidad
            </th>
          </tr>
        </thead>
        <tbody id="trainings-table">
          <!--  -->
        </tbody>
      </table>
    </div>
  </section>
</MainLayout>

<script>
  interface Training {
    type: string;
    duration: number;
    intensity: number;
    date: string;
  }

  const tableBody = document.getElementById("trainings-table");

  const trainings = JSON.parse(localStorage.getItem("trainings")) || [];

  const weekCard = document.getElementById("week-count");
  const minutesCard = document.getElementById("minutes-count");
  const trainingCard = document.getElementById("training");

  const isThisWeek = (dateString) => {
    const date = new Date(dateString);
    const now = new Date();

    const startOfWeek = new Date(now);
    startOfWeek.setDate(now.getDate() - now.getDay());
    startOfWeek.setHours(0, 0, 0, 0);

    const endOfWeek = new Date(startOfWeek);
    endOfWeek.setDate(startOfWeek.getDate() + 7);

    return date >= startOfWeek && date < endOfWeek;
  };

  const updateWeekCount = () => {
    const trainings = JSON.parse(localStorage.getItem("trainings")) || [];
    console.log(trainings.filter((t) => isThisWeek(t.date)).length);

    weekCard.textContent = trainings.filter((t) => isThisWeek(t.date)).length;
  };

  updateWeekCount();

  const addTrainingToTable = (t: Training) => {
    const row = document.createElement("tr");

    const [anio, mes, dia] = t.date.split("T")[0].split("-");

    const fechaFormateada = `${dia}/${mes}/${anio.slice(-2)}`;

    row.className = "bg-neutral-primary border-surface-dark border-b";
    row.innerHTML = `
    <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">${t.type}</td>
    <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">${fechaFormateada}</td>
    <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">${t.duration} min</td>
    <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">${"游댠".repeat(t.intensity)}</td>
    `;

    trainingCard.textContent = t.type;
    minutesCard.textContent = t.duration;

    tableBody?.prepend(row);
  };

  trainings
    .slice(-20) // 칰ltimos 20
    .forEach(addTrainingToTable);

  const form = document.getElementById("training-form") as HTMLFormElement;

  const saveTraining = (training) => {
    const trainings = JSON.parse(localStorage.getItem("trainings")) || [];
    trainings.push(training);

    // limitar a 20
    if (trainings.length > 20) {
      trainings.shift(); // elimina el m치s antiguo
    }

    localStorage.setItem("trainings", JSON.stringify(trainings));

    addTrainingToTable(training);

    // eliminar fila extra visible si pasa de 20
    if (tableBody.children.length > 20) {
      tableBody.lastElementChild.remove();
    }

    updateWeekCount();
  };

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    const data = new FormData(form);

    const training = {
      type: data.get("type-training"),
      duration: Number(data.get("duration")),
      intensity: Number(data.get("intensity")),
      date: new Date().toISOString(),
    };

    form.reset();

    saveTraining(training);
  });
</script>
